{% extends 'base.html.twig' %}

{% block title %}chantier index{% endblock %}

{% block content %}

    
    <div class="pageHeader">
      <div class="title">
        <h2>Gestion des chantiers</h2>
      </div>
      <div class="buttons">

        {% if is_granted('ROLE_CHANTIER_EDIT') %}
            <a href="{{ path('chantier_new') }}" class="button">Ajouter un chantier</a>
        {% endif %}

      </div>
    </div>

      {{ include('chantier/_table.html.twig', { 'chantiers': chantiers }) }}
      
{% endblock %}
