###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###


.idea
notes.md
/public/planning.html
/public/uploads

/config/packages/web_profiler.yaml
