{% extends 'base.html.twig' %}

{% block title %}Notifications{% endblock %}

{% block content %}


    <div class="pageHeader">
        <div class="title">
            <h2>Centre de notifications</h2>
        </div>
        <div class="buttons">
        </div>
    </div>


    {{ include('notification/_table.html.twig', { notifs: notifs }) }}

{% endblock %}
