{% extends 'base.html.twig' %}

{% block title %}reference index{% endblock %}

{% block content %}


    <div class="pageHeader">
        <div class="title">
            <h2>Logs</h2>
        </div>
        <div class="buttons">
        </div>
    </div>


    {{ include('log/_table.html.twig', { logs: logs }) }}

{% endblock %}
