{% extends 'base.html.twig' %}

{% block title %}Logs{% endblock %}

{% block content %}


    <div class="pageHeader">
        <div class="title">
            <h2>Logs</h2>
        </div>
        <div class="buttons">
        </div>
    </div>


    {{ include('log/_table.html.twig', { logs: logs }) }}
    {{ include('parts/pagination.html.twig', {'search': search}) }}

{% endblock %}
