<form method="post" action="{{ path('reference_delete', {'id': reference.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <button class="btn">Delete</button>
</form>
