{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block content %}
    <div class="pageHeader">
      <div class="title">
        <h2>Gestion des utilisateurs</h2>
      </div>
      <div class="buttons">
        <a href="{{ path('user_new') }}" class="borderedButton">Ajouter un utilisateur</a>
      </div>
    </div>

    {{ include('user/_table.html.twig', {'users': users}) }}
{% endblock %}
